@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F6FC;
  --foreground: #171717;
  --primary: #483FDD;
  --primary-hover: #3A32B0;
  --secondary: #EBF0FF;
  --text-dark: #1C1C28;
  --text-light: #6B6B7F;
  --accent-green: #50E3C2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
